@font-face {
  font-family: 'JetBrains-Mono';
  src: url('/fonts/JetBrains-Mono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-variant-ligatures: none;
  background-color: #2f3640;
  color: #dcdde1;
  font-family: 'JetBrains-Mono', sans-serif;
  font-size: 12pt;
}

a {
  color: #f5f6fa;
}

footer {
  width: 100%;
  left: 0;
  position: absolute;
  height: 100px;
  background-color: #353b48;
}

footer>hr {
  width: 95%;
  margin: 5, auto;
}

footer>div {
  width: 80%;
  margin: auto;
}

.icon {
  width: 1em;
  height: 1em;
}

.img {
  object-fit: cover;
  width: 100%;
}

.col_wrapper {
  display: grid;
  position: relative;
}

.col_container {
  position: relative;
  width: 97%;
}

.txt_small {
  font-size: 0.8em;
}

.txt_big {
  font-size: 1.2em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  justify-content: left;
  align-items: left;
}

.right {
  display: flex;
  justify-content: right;
  align-items: right;
}

.txt_center>div,
.txt_center {
  text-align: center;
}

.txt_left>div,
.txt_left {
  text-align: left;
}

.txt_right>div,
.txt_right {
  text-align: right;
}


.ascii {
  white-space: pre;
}
