html {
  font-variant-ligatures: none;
  background-color: #2f3640;
  color: #dcdde1;
  font-family: 'JetBrainsMono', sans-serif;
  font-size: 12pt;
  text-align: justify;
}

table {
  width: 100%;
  margin: auto;
  text-align: left;
}

tr {
  margin: auto;
}

.inverted:has(div)>div, .inverted:not(:has(div)) {
  color: #2f3640;
  background-color: #dcdde1;
}

.small_bar>hr {
  width: 60%;
}

.rounded:has(div)>div, .rounded:not(:has(div)) {
  border-radius: 0.3em;
}

a {
  color: #f5f6fa;
}

p {
  margin: 0.25em;
}

.inverted a {
  color: #192a56
}

footer {
  width: 100%;
  left: 0;
  position: absolute;
  height: 100px;
  background-color: #353b48;
}

footer>hr {
  width: 95%;
  margin: 5, auto;
}

footer>div {
  width: 80%;
  margin: auto;
}

.icon {
  width: 1em;
  height: 1em;
}

.img {
  object-fit: cover;
  width: 100%;
}

.col_wrapper {
  display: grid;
  position: relative;
}

.col_container {
  position: relative;
  width: 97%;
}

.txt_small {
  font-size: 0.8em;
}

.txt_xsmall {
  font-size: 0.5em;
}

.txt_big {
  font-size: 1.2em;
}

.txt_xbig{
  font-size: 1.5em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  justify-content: left;
  align-items: left;
}

.right {
  display: flex;
  justify-content: right;
  align-items: right;
}

.txt_center>div,
.txt_center {
  text-align: center;
}

.txt_left>div,
.txt_left {
  text-align: left;
}

.txt_right>div,
.txt_right {
  text-align: right;
}

div:not(.ascii)>div {
  line-height: 1.5;
}

.ascii {
  white-space: pre;
}

strong {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0.25em;
}